@import "../../../foundations/sass/all";

.container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem; /* 50px converted to rem */
  margin: 0 auto;
  max-width: 76.25rem; /* 1220px converted to rem */
}
